.navContainer {
    background-color: #178f69;
    width: 100%;
}
.navContainer .img-logo {
    height: 30px;
}
.navContainer input,
.navContainer select {
    height: 30px;
    font-size: 13px;
    width: 75vw;
}
.btn-add {
    background-color: #db7f23;
    width: 32px;
    border: none;
    bottom: -17px;
    right: 3%;
}
@media (min-width: 576px) {
    .navContainer input,
    .navContainer select {
        width: 30vw;
        height: 35px;
        font-size: 15px;
    }
    .btn-add {
        background-color: #db7f23;
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
}
